
.banner{
    width: 700px;
    height: 300px;
    border: 3px solid red;
    margin: auto;
    background-image: url("berlin.jpg");
    background-size: 100% 100%;
    animation: banner 10s infinite;
    animation-direction: alternate;
    }
    
    @keyframes banner{
        0%, 30%{
           background-image: url("berlin.jpg");
           opacity: 1;
        }
        
        31%, 34%{
            opacity: 0.1;
        }
        
        35%, 65%{
            background-image: url("paris.jpg");
            opacity: 1;
        }
        
        66%, 69%{
            opacity: 0.1;
        }
        
        70%, 100%{
            background-image: url("rome.jpg");
            opacity: 1;
        }
        
    }
    